/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.header-nav {
  padding: 0.5rem 1rem;
  color: rgb(216, 216, 216) !important;
  display: flex;
  border: 1px solid #fff;
}

.header-brand {
  color: #fff !important ;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.navbar-brand-text {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 2.5rem !important;
  line-height: inherit;
  white-space: nowrap;
  padding: 0rem 1rem;
  font-weight: bold;
}
#heder-table {
  font-size: 1.5rem !important;
}
.side-nav {
  list-style: none;
  padding-left: 0px !important;
}
ul.side-nav > li > a.nav-link {
  text-decoration: none !important;
  color: black !important;
  font-size: 1.2rem !important;
  font-weight: 500;
}
ul.underheading {
  margin: 0 0 0 10px;
  padding: 0;
}
ul.underheading li {
  list-style: none;
}
ul.underheading li > a.nav-link {
  text-decoration: none !important;
  color: black !important;
  font-size: 1rem !important;
  font-weight: 500;
}

div.canvas-container {
  position: relative;
}
div.canvas-container > div {
  position: absolute !important;
}
/* canvas {
  width: 100% !important;
  height: 100% !important;
} */
